@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__meta {
    height: auto;
    padding: 0rem;
    background: none;
    flex: 0 0 24.44%;
    display: block;
    position: relative;
  }

  .press__info {
    width: 3.2rem;
    height: 4.26rem;
    margin: auto;
    text-align: center;
    padding: .25rem .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .press__img {
    background: #112237;
    border: 1px solid #35669e;
    padding: 0;
    border-radius: 2px;
    margin-top: .4rem;

    @include img-size(2rem, 2rem);
  }

  .press__name {
    font-size: .24rem;
    color: #fff;
    letter-spacing: 0;
    line-height: .28rem;
    font-weight: bold;
    width: 100%;
    margin: .2rem auto .1rem;
  }

  .tip-comp-goods-detail--limit-time {
    font-family: FZLTHK--GBK1-0;
    font-size: .2rem;
    color: #7aa1d0;
    letter-spacing: 0;
    text-align: center;
  }

  .press__icon-status {
    position: absolute;
    top: -1rem;
    right: -.4rem;

    @include img-size(2.4rem, 2.4rem, block);

    &.press__icon-status--used {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/icon/icon-used.png) no-repeat center center;
      background-size: contain;
    }

    &.press__icon-status--expired {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/icon/icon-overtime.png) no-repeat center center;
      background-size: contain;
    }
  }

  .press__order {
    display: block;
    height: .65rem;
    line-height: .65rem;
    margin-top: .24rem;

    a {
      display: block;
      width: auto;
      margin: auto;
      color: #82a0cc;
      font-size: .22rem;
      padding-left: .46rem;
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/icon/icon-uncheck.png) no-repeat left center/.4rem .4rem;
    }

    &.active a {
      background: url(https://image-1251917893.file.myqcloud.com/tip-privilege-Merchant/pvp3.0/image/icon/icon-check.png) no-repeat left center/.4rem .4rem;
    }
  }
}