.press-act:not(.press-act--hidden-tip) {
  .press__box {
    background: #fff;
    padding: 0 .32rem;
  }

  .press__empty p {
    color: #999;
    font-size: .24rem;
    line-height: .34rem;
    text-align: center;
  }

  .press__empty .press__image {
    width: 2.42rem;
    display: block;
    margin: 1.16rem auto .32rem;
    content: url(https://game.gtimg.cn/images/user/m/webigame2019/img-null.png);
  }
}