@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-gp.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__box {
    order: -1;
  }

  .press__title {
    display: none;
  }

  // 复制数字兑换码
  .press__copy-code {
    padding: .3rem .32rem;
    margin-bottom: .14rem;
  }

  .press__copy-num {
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    background: rgba(0, 0, 0, .15);
    margin-bottom: .2rem;
    border-radius: 2px;
    font-size: $font-l;
    color: rgba(255, 255, 255, .75);
  }

  .press__copy-tip {
    font-size: $font-xxs;
    color: #d2d8dc;
    margin-bottom: .1rem;

    span {
      display: block;
      color: #e4b853;
    }

    a {
      color: #e4b853;
    }
  }
}