@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-smoba.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__box {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: .32rem;
    border-bottom: 1px solid rgba(246, 246, 246, .5);
  }

  .press__title {
    min-width: 1.4rem;
    font-weight: bold;
    display: inline-block;
    color: $color-black;
    font-size: .28rem;
    line-height: .4rem;
  }

  // 复制数字兑换码
  .press__copy-code {
    flex: 1;
    background-color: white;

    color: $color-black;
    font-size: .28rem;
    line-height: .4rem;
    position: relative;
  }

  .press__copy-num {
    width: 5.2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background: $color-gray-7;
    border-radius: 2px;
    color: $color-black;
    font-size: .28rem;
  }

  .press__copy-tip {
    color: $color-gray;
    font-size: .24rem;
    line-height: .34rem;
    display: block;

    span {
      color: $color-primary;
      font-size: .28rem;
      line-height: .4rem;
      margin-bottom: .08rem;
      display: block;
    }

    a {
      color: $color-primary;
    }
  }
}