@import "../../common/style/act/mixin/mixin.scss";

.press-act:not(.press-act--hidden-tip) {
  &.press__box {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.32rem;
    border-bottom: 0.02rem solid #eae7e2;
  }

  .press__title {
    width: 1.4rem;
    display: inline-block;
    vertical-align: top;
    color: #9b9b9b;
    text-align: right;
    font-size: 0.28rem;
    letter-spacing: 0;
  }

  .press__content {
    flex: 1;
  }

  //  start二维码
  .press__qr-exchange {
    display: flex;
    flex-direction: column;
  }

  .ewm {
    border-radius: 0px 2px 2px 0px;
  }

  .press__qr-img {
    border-radius: 0px 2px 2px 0px;
    order: 1;
  }

  .press__qr-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 0;
  }

  .press__qr-text {
    color: #1e72ff;
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-bottom: 0.08rem;

    i {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: #26262a;
      margin-right: 0.15rem;
    }
  }

  .press__tips {}

  .press__copy-num {
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 2px;
    color: #000;
  }

  //  end二维码
}