@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-nba.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__title {
    display: none;
  }

  //  start二维码
  .press__qr-exchange {
    display: flex;
    color: $color-bbb;
    padding: .3rem .4rem;
    background: $color-black-4;
    margin-bottom: .15rem;
  }

  .ewm {
    border-radius: 0px 2px 2px 0px;

    @include img-size(1.72rem, 1.72rem, inline-block, .05rem, 0px, $color-white);
  }

  .press__qr-img {
    border-radius: 0px 2px 2px 0px;
    margin-right: .3rem;

    @include img-size(2.4rem, 2.4rem, inline-block, .05rem, 0px, $color-white);
  }

  .press__qr-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .press__qr-text {
    font-size: $font-l;
    color: $color-yellow-3;
    line-height: .4rem;
    margin: .1rem 0px;
    font-weight: bold;

    span {
      display: block;
      margin: .1rem auto;
      padding-left: .4rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: .05rem;
        width: .32rem;
        height: .32rem;
        line-height: .32rem;
        text-align: center;
        font-size: .24rem;
        color: #26262a;
      }

      &.tip-comp-goods-detail-step-first::before {
        background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/css_sprites.png) no-repeat;
        background-position: -1.66rem -2.14rem;
        background-size: 4.42rem 4.28rem;
      }

      &.tip-comp-goods-detail-step-second::before {
        background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/css_sprites.png) no-repeat;
        background-position: -2.18rem -2.14rem;
        background-size: 4.42rem 4.28rem;
      }
    }

    em {
      display: none;
    }
  }

  .press__tips {
    color: $color-bbb;
  }

  .press__copy-num {
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    background: $color-brown-3;
    margin-bottom: $font-xs;
    border-radius: 2px;
    font-size: $font-xl;
    color: $color-ccc;
  }

  //  end二维码
}