@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-nba.scss';

.press-act:not(.press-act--hidden-tip) {
  .press__title {
    display: none;
  }

  // start条形码二维码兑换
  .press__exchange-code {
    padding: .3rem .4rem;
    background: $color-black-4;
    margin-bottom: .15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .press__exchange-box {
    padding: .1rem;
    display: flex;
    justify-content: center;
  }

  .press__barcode {
    min-width: 3.6rem;
    position: relative;
    text-align: center;
    border-radius: 2px 0px 0px 2px;
    overflow: hidden;

    @include img-size(auto, 1.72rem, inline-block, .16rem, 0px, $color-white);
  }

  .press__qr {
    @include img-size(1.72rem, 1.72rem, inline-block, .05rem, 0px, $color-white);
  }

  .press__exchange-tips {
    color: $color-ccc;
  }

  .press__qr-text {
    font-size: $font-l;
    color: $color-yellow-3;
    line-height: .4rem;
    margin: .1rem 0px;
    font-weight: bold;

    span {
      display: block;
      margin: .1rem auto;
      padding-left: .4rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: .05rem;
        width: .32rem;
        height: .32rem;
        line-height: .32rem;
        text-align: center;
        font-size: .24rem;
        color: #26262a;
      }

      &.tip-comp-goods-detail-step-first::before {
        background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/css_sprites.png) no-repeat;
        background-position: -1.66rem -2.14rem;
        background-size: 4.42rem 4.28rem;
      }

      &.tip-comp-goods-detail-step-second::before {
        background: url(https://image-1251917893.file.myqcloud.com/2020/a20200707NBA/css_sprites.png) no-repeat;
        background-position: -2.18rem -2.14rem;
        background-size: 4.42rem 4.28rem;
      }
    }

    em {
      display: none;
    }
  }

  // end条形码二维码兑换
}