@import '../../common/style/act/button/button-lolm-vertical';

.press-act:not(.press-act--hidden-tip) {
  &.press__btn {
    display: block;
    height: .8rem;
    line-height: .8rem;
  }

  &.press__btn--maxlarge-primary {
    height: .8rem;
    line-height: .8rem;
  }
}