.press-act:not(.press-act--hidden-tip) {
  &.press__btn--long-primary {
    width: 2.8rem;
    height: .5rem;
    display: block;
    line-height: .5rem;
    text-align: center;
    font-family: auto;
    color: rgb(128, 64, 0);
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/primary_long_btn_bg.png) no-repeat 100% 100%;
    background-size: 100% 100%;
  }

  &.press__btn--maxlarge-primary {
    width: 2.4rem;
    height: .5rem;
    display: block;
    line-height: .5rem;
    text-align: center;
    font-family: auto;
    color: rgb(128, 64, 0);
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/primary_long_btn_bg.png) no-repeat 100% 100%;
    background-size: 100% 100%;
  }

}