@import '../../common/style/act/button/_button-lolm.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__main {
    -webkit-box-flex: 1;
    flex: 1;
    flex: 1;
    padding: 0 0 0 .74rem;
    display: flex;
    flex-direction: column;
  }

  .press__info {
    background: rgba(33, 9, 9, .2);
    width: 100%;
    height: 100%;
    padding: .4rem .64rem .4rem;
    overflow-y: auto;
  }

  .press__extra {
    color: rgba(255, 239, 239, .3);
    line-height: .28rem;
    font-size: .2rem;
    margin: .33rem 0 0;
  }

  .press__button-wrap {
    background: rgba(33, 9, 9, .2);
    padding: .1rem 0 0;
    height: 2.8rem;
    -ms-flex-preferred-size: .8rem;
    flex-basis: .8rem;
    padding: .3rem;
  }

  .press__buttons {
    display: flex;
    display: flex;
    justify-content: space-around;
  }

  .press__btn--maxlarge-primary {
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/lgame/lunar/ingame/btn-superbig.png') center center no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 3.42rem;
    height: .56rem;
  }

  .press__btn--large-secondary {
    background: url('https://image-1251917893.file.myqcloud.com/tip-project/lgame/lunar/ingame/btn_subordinate_big.png') center center no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 2.4rem;
    height: .56rem;
    color: #f3abab;
  }
}