@import '../../common/style/act/button/button-lolm-vertical';

.press-act:not(.press-act--hidden-tip) {
  .press__buttons {
    justify-content: space-around;
  }

  &.press__main {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    background: #292a3c;
  }

  .press__info {
    background: #fff;
    border-radius: .2rem .2rem 0 0;
  }

  .press__info {
    flex: 1;
    overflow-y: scroll;
  }

  .press__button-wrap {
    padding: .32rem .96rem;
    position: relative;
    z-index: 10;
    background: #fff;
    border-top: 1px solid rgba(246, 246, 246, .5);
  }

  .press__buttons {}

  .press__btn {
    display: block;
    height: .8rem;
    line-height: .8rem;
  }

  .press__btn--large-secondary {
    width: 1.28rem;
    height: .8rem;
  }

  .press__btn--maxlarge-primary {
    height: .8rem;
    line-height: .8rem;
  }

  .press__extra {
    color: #a0acb5;
    font-size: .24rem;
    line-height: .34rem;
    padding: .16rem .32rem;
  }
}