.press-act:not(.press-act--hidden-tip) {
  &.press__main {
    height: 6.06rem;
    width: 7.64rem;
    margin: .2rem auto;
    background-image: url(https://image-1251917893.file.myqcloud.com/TIP_XCX/igame_plugins/sjjq/details.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 0 .25rem .2rem .22rem;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    margin-top: .2rem;
    flex-direction: column;
    padding-bottom: .48rem;
    overflow: hidden;
  }

  .press__info {
    height: 5.06rem;
    min-height: 5.06rem;
    margin-top: .2rem;
    padding-top: .08rem;
    padding-left: .2rem;
    overflow: scroll;
    color: #fff;
    font-size: .2rem;
    line-height: .28rem;
    letter-spacing: 0;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  // 额外信息+声明
  .press__extra {
    display: none;
    padding: .15rem .4rem 0rem;
    color: #778795;
    overflow: hidden;
  }

  .press__extra p {
    margin: .2rem 0rem;
    text-align: center;
    font-size: .2rem;
  }

  .press__button-wrap {
    padding: .1rem 0 0;
    border-top: unset;
    height: .5rem;
    flex-basis: .8rem;
  }

  .press__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
  }

  .press__btn--long-primary {
    width: 2.8rem;
    height: .5rem;
    display: block;
    line-height: .5rem;
    text-align: center;
    font-family: auto;
    color: rgb(128, 64, 0);
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/primary_long_btn_bg.png) no-repeat 100% 100%;
    background-size: 100% 100%;
  }

  .press__btn--maxlarge-primary {
    width: 2.4rem;
    height: .5rem;
    display: block;
    line-height: .5rem;
    text-align: center;
    font-family: auto;
    color: rgb(128, 64, 0);
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/TIP_XCX/igame_plugins/sjjq/btn-primary-max.png) no-repeat 100% 100%;
    background-size: 100% 100%;
  }

  .press__btn--large-secondary {
    width: 1.8rem;
    height: .5rem;
    display: block;
    line-height: .5rem;
    text-align: center;
    font-family: auto;
    color: rgb(128, 64, 0);
    font-size: .24rem;
    background: url(https://image-1251917893.file.myqcloud.com/2021/act/tlbb/img/primary_long_btn_bg.png) no-repeat 100% 100%;
    background-size: 100% 100%;
  }

}