@import '../../common/style/act/mixin/mixin.scss';

.press-act:not(.press-act--hidden-tip) {
  &.press__list {
    flex: 1;
    background: #fff;
  }

  .press__item {
    padding: .32rem;
    border-bottom: 1px solid rgba(246, 246, 246, .5);
    color: #303030;
    font-size: .28rem;
    line-height: .4rem;
    position: relative;
    display: flex;

    span {
      width: 1.4rem;
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
    }

    .press__text {
      flex: 1;
      display: inline-block;
      vertical-align: top;
    }

    .press__modify-buttons {
      position: relative;
    }

    .press__modify-button {
      width: 1.2rem;
      font-size: .24rem;
      color: #ff7800;
      margin-left: .1rem;
      display: inline-block;
      padding: 0rem .1rem;
    }
  }
}