.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e004";
}

.icon-team:before {
  content: "\e005";
}

.icon-close:before {
  content: "\e008";
}

.icon-location:before {
  content: "\e009";
}

.icon-qq:before {
  content: "\e00b";
}

.icon-mine-bottom:before {
  content: "\e011";
}

.icon-trophy-bottom:before {
  content: "\e012";
}

.icon-time:before {
  content: "\e013";
}

.icon-location-1:before {
  content: "\e014";
}

.icon-exchange:before {
  content: "\e015";
}

.icon-arrow:before {
  content: "\e01a";
}

.icon-wx:before {
  content: "\e01b";
}

.icon-arrow-more:before {
  content: "\e01c";
}

.icon-help:before {
  content: "\e01d";
}

.icon-guide:before {
  content: "\e01f";
}

.icon-people:before {
  content: "\e020";
}

.icon-team-member:before {
  content: "\e023";
}

.icon-message:before {
  content: "\e024";
}

.icon-chat:before {
  content: "\e025";
}

.icon-quit:before {
  content: "\e027";
}

.icon-inform-more:before {
  content: "\e028";
}

.icon-triangle:before {
  content: "\e029";
}

.icon-edit:before {
  content: "\e02a";
}

.icon-team-people:before {
  content: "\e02b";
}

.icon-code:before {
  content: "\e02c";
}

.icon-chat-message:before {
  content: "\e02e";
}

.icon-edit-more:before {
  content: "\e031";
}

.icon-gift:before {
  content: "\e032";
}

.icon-close-split:before {
  content: "\e033";
}

.icon-members:before {
  content: "\e034";
}

.icon-copy:before {
  content: "\e035";
}

.icon-friends:before {
  content: "\e036";
}

.icon-people-circle:before {
  content: "\e037";
}

.icon-bell:before {
  content: "\e038";
}

.icon-message-board:before {
  content: "\e039";
}

.icon-match-index:before {
  content: "\e03b";
}

.icon-match-mine:before {
  content: "\e03c";
}

.icon-streaming:before {
  content: "\e03d";
}

.icon-replay:before {
  content: "\e03e";
}

.icon-living:before {
  content: "\e03f";
}

.icon-views:before {
  content: "\e041";
}

.icon-search:before {
  content: "\e042";
}

.icon-refresh:before {
  content: "\e043";
}