@font-face {
  font-family: "iconfont";
  src: url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.eot?t=b255e3f13c482c62ab9f1c89b6dc546a');
  /* IE9 */
  src: url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.eot?t=b255e3f13c482c62ab9f1c89b6dc546a#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.woff?t=b255e3f13c482c62ab9f1c89b6dc546a') format('woff2'),
    url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.woff?t=b255e3f13c482c62ab9f1c89b6dc546a') format('woff'),
    /* chrome、firefox */
    url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.ttf?t=b255e3f13c482c62ab9f1c89b6dc546a') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://cdn3.codesign.qq.com/icons/Q2kY5j31A70ExNd/latest/iconfont.svg?t=b255e3f13c482c62ab9f1c89b6dc546a#iconfont') format('svg');
  /* iOS 4.1- */
}