@import '../../common/style/act/mixin/mixin.scss';
@import '../../common/style/act/layout/_layout-pvp.scss';
@import '../../common/style/act/button/_button-pvp.scss';

/* 物品自选功能 start */
.press-act:not(.press-act--hidden-tip) {
  .press__select-wrap {
    position: relative;
    padding: .3rem 0rem;
  }

  .press__select-wrap span {
    min-width: 1.1rem;
    font-size: $font-s;
    color: $color-main;
  }

  .press__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .20rem;
    width: 100%;
  }

  .press__item {
    display: inline-block;
    overflow: hidden;
    height: 1.66rem;
    margin-right: .12rem;
    margin-bottom: .08rem;
  }

  .press__images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.64rem;
    height: 1.2rem;
    background-color: rgba(17, 34, 55, 0.4);
    box-sizing: border-box;
  }

  .press__image {
    max-height: .8rem;
    max-width: .8rem;
  }

  .press__texts {
    width: 1.64rem;
    height: 0.46rem;
    text-align: center;
    font-size: 0.2rem;
    line-height: .24rem;
    /* line-height: 0.32rem; */
    color: #ADCEEB;
    background-color: rgba(17, 34, 55, 0.4);
    overflow: hidden;
    padding-bottom: 0.16rem;
  }

  .press__text {
    display: inline-block;
    width: 1.4rem;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
  }

  .press__float-window {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 3.08rem;
    max-height: 1.16rem;
    color: #82A0CC;
    background-color: rgba(19, 27, 55, 0.95);
    transform: translateY(calc(-100% - 1.64rem));
    z-index: 10;
  }

  // .press__item:nth-child(4n) .press__float-window {
  //   transform: translate(calc(-100% + 1.6rem), calc(-100% - 2.12rem));
  // }

  .press__item:hover .press__float-window {
    display: flex;
  }

  .press__float-text {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: .08rem;
    max-width: 2.88rem;
    font-size: .2rem;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  /* 物品自选功能 end */
}