.press-act:not(.press-act--hidden-tip) {
  &.press__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .75);
  }

  /* 1.背景 */
  .press__dialog--prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: 5.68rem;
    background: #fff;
    border-radius: .24rem;
    transform: translate(-50%, -50%);

    .highlight-red {
      display: inline;
      color: #FF8C79;
    }

    .highlight-blue {
      display: inline;
      color: #31B3EB;
    }
  }

  /* 2.关闭按钮 */
  .press__close {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    width: 1.7rem;
    height: 1.7rem;
    color: rgba(255, 255, 255, .75);
    text-indent: -1000rem;
    background: url(https://image-1251917893.file.myqcloud.com/igame/merchant/igame-peng/icon-close.png) no-repeat;
    background-size: 100% 100%;
    transform: translateX(-50%);
  }

  /* 3.标题 */
  .press__title--prompt {
    margin-top: .64rem;
    color: #000;
    font-size: .36rem;
    font-weight: bold;
    line-height: .44rem;
    text-align: center;
  }

  /* 按钮 */
  .press__content .press__button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem auto .24rem;
  }

  .press__btn--medium-secondary,
  .press__btn--cancel {
    display: block;
    width: 2.16rem;
    height: .76rem;
    margin: 0 .16rem;
    color: #73beff;
    font-size: .28rem;
    line-height: .76rem;
    text-align: center;
    border: .02rem solid #73beff;
    border-radius: .76rem;
  }

  .press__btn--sure,
  .press__btn--medium-primary,
  .tip-comp-btn-large-primary {
    display: block;
    width: 2.16rem;
    height: .76rem;
    margin: 0 .16rem;
    color: #fff;
    font-size: .28rem;
    line-height: .76rem;
    text-align: center;
    background: linear-gradient(180deg, #88cefc, #6ea5f9);
    background-size: 100% auto;
    border-radius: .76rem;
  }

  /* 公共 -- end */

  .press__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
  }

  /* 消息提示 */
  .press__notice {
    width: 5.08rem;
    margin: 0 auto;
    margin-top: .1rem;
    margin-bottom: .1rem;
    color: #303030;
    font-size: .22rem;
    text-align: center;
  }

  .press__text {
    box-sizing: border-box;
    padding: 0 .4rem;
    margin-top: .15rem;
    color: #000;
    font-size: .28rem;
    text-align: center;
    word-break: break-all;
  }

  /* 商户图 */
  .press__pic-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: .26rem;
    font-weight: 600;
  }

  .press__pic-wrap img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
  }

  .press__pic-wrap p {
    margin-top: .05rem;
    text-align: center;
  }

  /* 空数据 */
  .press__empty {
    width: 2.2rem;
    height: 1.2rem;
    margin: 0 auto;
    background: url(https://image-1251917893.file.myqcloud.com/tip-project/liebian-tlbb/goods-page/list-empty-icon.png) center center no-repeat;
    background-size: 100%;
  }
}